{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = "Links"|t %}
{% set url = craft.request.getParam('url') %}
{% set link = craft.links.fetch(url) %}

{% set content %}

    <form method="get" action="" accept-charset="UTF-8">

        {{ forms.textField({
            label: 'Video URL'|t,
            instructions:'Enter the URL of the video you want to embed'|t,
            required: true,
            name: 'url',
            value: url,
            first: true
            }) 
        }}

        <p><input type="submit" value="Fetch this Video" class="btn submit" /></p>

    </form>

    <hr />

    {% if url %}
        {% include 'links/_includes/snippet' with {link:link} %}
    {% endif %}


{% endset %}
